:root {
    --sandstone: #999999;
    --sapphire: #172c6c;
    --twilight: #00318A;
    --duval: #131A1C;
    --witch: #585959;
    --rock: #83826b;
  
      /* neutral */
      --desert-wind: #faf9f5;
      --neutral-2: #F1EDDD;
      --neutral-6: #D8D2BA;
      --neutral-8: #9B9064;
      --neutral-10: #766830;
  
      /* yellow */
      --yellow-2: #FFF1C2;
      --yellow-primary: #FFE79B;
      --yellow-6: #E3CA7B;
      --yellow-8: #9C812E;
      --yellow-10: #715600;
  
      /* blue */
      --sapphire: #5981FA;
      --blue-6: #4769D0;
      --blue-8: #1B2E68;
      --blue-10: #010B2A;
  
  }
    
    /* Importing Fonts */
  
    @font-face {
      font-family: "Roobert-Medium", Helvetica;
      font-style: normal;
      font-weight: 500;
      src: url('/Assets/Fonts/Roobert/Roobert-Medium.otf') format("opentype");
    }
  
    @font-face {
      font-family: "Roobert-Regular", Helvetica;
      font-style: normal;
      font-weight: 400;
      src: url('/Assets/Fonts/Roobert/Roobert-Regular.otf') format("opentype");
    }
  
    @font-face {
      font-family: "Roobert-Semibold", Helvetica;
      font-style: normal;
      font-weight: 700;
      src: url('/Assets/Fonts/Roobert/Roobert-SemiBold.otf') format("opentype");
    }
  
    @font-face {
      font-family: "Roobert-Bold", Helvetica;
      font-style: normal;
      font-weight: 800;
      src: url('/Assets/Fonts/Roobert/Roobert-Bold.otf') format("opentype");
    }
  
  
    @font-face {
      font-family: "Apfel Grotezk-Regular";
      font-style: normal;
      font-weight: 400;
      src: url('https://anima-uploads.s3.amazonaws.com/projects/61428154992a408f45ab95b1/fonts/apfelgrotezk-regular.otf') format("opentype");
    }
  
    
  
    body {
      background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(/Assets/dith_Bg3.png);
      background-color: var(--desert-storm);
      width: 100%;
      height: 100%;
    }