/* Importing Fonts */


@font-face {
  font-family: "Roobert-Regular", Helvetica;
  font-style: normal;
  font-weight: 300;
  src: url('Roobert-Regular.otf');

  @font-face {
    font-family: "Roobert-Medium", Helvetica;
    font-style: normal;
    font-weight: 400;
    src: url('Roobert-Medium.otf') format("opentype");
  }
}

@font-face {
  font-family: "Roobert-SemiBold", Helvetica;
  font-style: normal;
  font-weight: 500;
  src: url('Roobert-SemiBold.otf');
}



html {

  background-color: var(--desert-wind);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--desert-wind);
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
}

a p h1 h2 h3 h4 h5 {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a:visited {
  text-decoration: none;

}

:root {
  --desert-wind: #faf9f5;
  --sandstone: #999999;
  --sapphire: #0057e4;
  --twilight: #00318A;
  --duval: #131A1C;
  --witch: #585959;
}

/* .homepage-new {
    align-items: flex-start;
    background-color: #f6f4ec;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 748px;
    left: 0px;
    overflow: hidden;
    padding: 20px 40px 20px;
    position: relative;
    top: 0px;
    width: 100%;
  } */

.homepage-ux {
  align-items: flex-start;
  background-color: var(--desert-wind);
  display: flex;
  /* width: 100%; */
  height: 100%;
  padding: 40px 40px 20px 40px;
  flex-direction: column;
  gap: 8px;

}

/* .content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
} */



.uxtitle-fit {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 8px 0px;
}


.header-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.bw-icons-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-face {
  width: 64px;
  height: 64.985px;
}

.header-grid {
  width: 64px;
  height: 64.985px;
}

.header-blob {
  width: 64px;
  height: 64.985px;
}

.divider-fit {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  align-self: stretch;
  border: black;
}

.divider-style {
  height: 0px;
  align-self: stretch;

}


.project-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  /* padding: 0px 0px 8px 0px; */
}

.table-row {
  display: flex;
  align-items: flex-end;
  gap: 53px;
  align-self: stretch;
  min-width: 720px;

}

.icon-fit {
  width: 18px;
  height: 18px;
  /* border:#0051E6 solid; */
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "roobert-semibold", Helvetica;
  font-size: 18px;
  font-weight: 500;
  color: var(--duval);
}

a.header {
  color: var(--duval);
  font-family: "Roobert-Regular", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a.line-title {
  color: var(--duval);
  font-family: "Roobert-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  /* font-weight: 500; */
  line-height: normal;
  min-width: 225px;
}

a.line-keywords {
  align-content: bottom;
  color: var(--sandstone);
  font-family: "Roobert-Regular", Helvetica;
  font-size: 16px;
  font-style: italic;
  min-width: 330px;

}

a.disabled {
  color: var(--witch);
  font-family: "Roobert-Regular", Helvetica;
  min-width: 120px;
}

a.cs-link {
  color: var(--sapphire);
  font-family: "Roobert-Regular", Helvetica;
  width: 220px;
  text-decoration: none;
  min-width: 120px;
}

a:visited {
  color: var(--sapphire);
  text-decoration: none;
}



/* ---------------------------------------- */
/* COMPONENTS: */

/* Project Item */
/* component architecture */
.project-item {
  display: flex;
  width: 100%;
  max-width: 1024px;
  align-items: flex-start;
  gap: 12px;
}

.img-container {
  width: 360px;
  height: 280px;
  flex-shrink: 0;
  background-color: var(--sandstone);
  position: relative;
  /* background-color: black; */
  border: 1px black solid;
}

.project-txt-container {
  display: flex;
  min-width: 320px;
  max-width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.project-date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

h2.project-item-title {
  margin: 0;
  padding: 0;
  color: var(--sapphire);
  font-family: "Roobert-Medium", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3.project-item-preview {
  margin: 0;
  padding: 0;
  color: var(--sapphire);
  font-family: "Roobert-Regular", Helvetica;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}

p.project-description {
  margin: 0;
  padding: 0;
  align-self: stretch;
  color: var(--duval);
  font-family: "Roobert-Regular";
  font-weight: 200;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  max-width: 500px;
}

p.keywords {
  margin: 0;
  padding: 0;
  color: var(--witch);
  font-family: "Roobert-Regular";
  font-size: 12px;
  /* font-style: italic; */
  font-weight: 200;
  line-height: normal;
}

h3.pub-title {
  margin: 0;
  padding: 0;
  color: var(--witch);
  font-family: "Roobert-Medium", Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;


  /* 150% */
}

p.pub-date {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--duval);
  font-family: "Roobert-Regular";
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  /* 125% */
  letter-spacing: -0.6px;
}

/* Functional Header */
.header-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.bw-icons-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-face {
  width: 64px;
  height: 64.985px;
}

.header-grid {
  width: 64px;
  height: 64.985px;
}

.header-blob {
  width: 64px;
  height: 64.985px;
}

.divider-fit {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  align-self: stretch;
  border: var(--duval);
}

.divider-style {
  height: 0px;
  align-self: stretch;

}

/* Header images and animations */
.img-fit {
  height: 72px;
  position: relative;
  width: 72px;
}

.UX-gif {
  display: none;
}

.UX-static {
  position: absolute;
  background: white;
}

.art-static {
  position: absolute;
  background: white;
}

.header-blob:hover .art-static {
  opacity: 0;
}

.header-grid:hover .UX-static {
  opacity: 0;
}

.footer {

  /* layout */
  display: flex;
  width: 100%;
  height: 43px;
  padding: 0px 8px 0px 20px;
  align-items: flex-start;
  gap: 10px;


  /* position */
  position: fixed;
  bottom: 0px;

  /* style */
  background: #FAF9F5;
  color: #000;
  font-family: "Apfel Grotezk";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ------------------------------------------------- */

/* Media Queries */

/* Mobile */
@media (max-width:360px) {

  .project-txt-container {
    max-width: 320px;
  }

  a {
    width: 100%;
  }

  .img-container {
    width: 100%;
  }

}

/* SML */
@media (max-width: 800px) {

  .project-item {
    flex-direction: column;
    max-height: fit-content;
  }

  /* rows: */
  .table-row {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    min-width: fit-content;
    width: fit-content;
  }

}