:root {
    --sandstone: #999999;
    --sapphire: #172c6c;
    --twilight: #00318A;
    --duval: #131A1C;
    --witch: #585959;
    --rock: #83826b;
  
      /* neutral */
      --desert-wind: #faf9f5;
      --neutral-2: #F1EDDD;
      --neutral-6: #D8D2BA;
      --neutral-8: #9B9064;
      --neutral-10: #766830;
  
      /* yellow */
      --yellow-2: #FFF1C2;
      --yellow-primary: #FFE79B;
      --yellow-6: #E3CA7B;
      --yellow-8: #9C812E;
      --yellow-10: #715600;
  
      /* blue */
      --sapphire: #5981FA;
      --blue-6: #4769D0;
      --blue-8: #1B2E68;
      --blue-10: #010B2A;
  
  }

/* Header images and animations */
.img-fit {
    height: 72px;
    position: relative;
    width: 72px;
  }
  
  .UX-gif {
    display: none;
  }
  
  .UX-static {
    position: absolute;
    background: white;
  }
  
  .art-static {
    position: absolute;
    background: white;
  }
  
  .header-blob:hover .art-static {
    opacity: 0;
  }
  
  .header-grid:hover .UX-static {
    opacity: 0;
  }
  